<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../common/styles/reset.css">
	<link rel="stylesheet" href="../../common/styles/global.css">
	<link rel="stylesheet" href="./styles.css">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Alert</title>
</head>
<body class="full-h">
	<div class="container">
		<form action="">
			<div>
				<label for="name">Name</label>
				<input id="name" type="text">
			</div>
			<div>
				<label for="name">Email</label>
				<input id="name" type="email">
			</div>
		</form>
	</div>
	<scrip src="script.js"></scrip>
</body>
</html>
