<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../common/styles/reset.css">
	<link rel="stylesheet" href="../../common/styles/global.css">
	<link rel="stylesheet" href="./styles.css">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Alert</title>
</head>
<body class="full-h">
	<div class="container">
		<h1>button</h1>
		<button>Button</button>
		<br>
		<br>
		<button class="default">Button</button>
		<br>
		<br>
		<button class="destructive">Button</button>
		<br>
		<br>
		<button class="secondary">Button</button>
		<br>
		<br>
		<button class="outline">Button</button>
		<br>
		<br>
		<button class="ghost">Button</button>
		<br>
		<br>
		<button class="icon">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</button>
		<br>
		<br>
	</div>
	<scrip src="script.js"></scrip>
</body>
</html>
