.modal {
	box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5); /* works on all browsers */
	border: 1px solid hsl(var(--muted));
	padding: 1.5rem;
	max-width: 50ch;
	background-color: hsl(var(--bg-dark));
	border-radius: var(--radius);
}

.modal::backdrop {
	--webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	/* transition: backdrop-filter 2s linear; */
}

.modal[open] {
	display: grid;
	gap: 1rem;
	animation: fade-in 150ms forwards;
}

/* Does not work on firefox */
/* .modal[open]::backdrop {
	animation: fade-in 150ms forwards;
} */

.modal__text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal__actions {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
