<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../common/styles/reset.css">
	<link rel="stylesheet" href="./styles.css">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Alert</title>
</head>
<body>
	<div class="alert">
		<div class="alert-content">
			<h5 class="alert-title">Alert Title</h5>
			<p>Alert description goes here.</p>
		</div>
	</div>

	<scrip src="script.js"></scrip>
</body>
</html>
